.logotop {
    max-height: 135px;
    padding-bottom: 1.25em;
    padding-top: 1.2em;

}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

nav {
    background: #F5F5F5;

}

header {
    margin-bottom: 30px;
}

h4 {


    /* H4 Bold */

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 50px;
    color: #BD2663;

}


p {
    text-indent: 1.5em;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    /* or 107% */
    color: #191919;
    margin-top: 20px;
    margin: 20px;
    text-align: justify;
}

.input {
    border-radius: 15px;
    height: 30px;
    background-color: #EFF8FF;
    border: 1px white;
    text-align: center;

}

.button {

    background: #E3387D;
    border-radius: 71px;
    height: 50px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 50px;
    font-size: 15px;
    color: #EFF8FF;
    border: none;
    padding: 0px 20px 0px 20px
}

.tituloazul {

    color: #547EB7;
    font-stretch: extra-condensed;
    font-weight: bold;
    background-color: #F5F5F5;
    padding: 25px;
}

form {

    background-color: #2B5B9C;
    padding: 20px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    /* or 107% */
    color: #FFFFFF;
    margin-bottom: 20px;
}


footer {
    font-family: IBM Plex Sans;
    margin-top: 20px;
    background: #F5F5F5;
    text-align: center;
    padding: 20px;

}

.fa-facebook-square {

    color: #3B5998;
    font-size: 32px;
    margin-right: 20px;
}

.fa-envelope {

    color: #E3387D;
    font-size: 32px;
    margin-right: 20px;
}

.fa-instagram {

    font-size: 32px;
    margin-right: 20px;

    color: mediumvioletred;



}

.spam {
 
    color: white;
    
    
        text-indent: 1.5em;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    text-align: justify;
}

span {

    text-align: center;
    font-size: 15px;
    font-weight: bold;

}

.depo-img {

    max-height: 200px;
    margin-top: 30px;

}
