* {
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-height: 100px;
    padding-bottom: 1.2em;
    padding-top: 1.2em;

}

nav {
    
    display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
        background: #F5F5F5;

}

.header {
    margin-top: 1.25em;
    margin-left: 1.25em;
    margin-right: 1.25em;
         display: flex;
     flex-wrap: wrap;
     padding: 5px;
     justify-content: center;
}


h4{
/* H4 Bold */
font-family: IBM Plex Sans;
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 50px;
/* or 132% */
color: #BD2663;
}

p {
font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 30px;
/* or 107% */   
color: #191919;
}

.input {
 border-radius: 15px;
  height: 30px;
margin-bottom: 10px;
}

.button {
    
background: #E3387D;
border-radius: 71px;
height: 50px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
    line-height: 50px;
font-size: 15px;
color: #EFF8FF;
}

form {
    
max-width: 400px;
background-color: #2B5B9C;
padding: 20px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 30px;
/* or 107% */
color: #FFFFFF;

    
}


.flex-grid {
  display: flex;
margin-top: 50px;
}
.col {
  flex: 1;
}

/* *********** media queries *********** */
@media all and (max-width: 990px) {
    .flex-container {
        flex-direction: column;
    }

    .navbar {
        margin: 0;
    }

    .navigation {
        width: 100%;
        justify-content: space-around;
    }
}



/* ****** ****** */
@media all and (max-width: 600px) {

    .navbar {
        margin: .25em 0;
        align-self: left;
        /* align the navbar to the left side of 'flex-container' */
    }

    .navigation {
        flex-direction: column;
    }

    .navigation a {
        text-align: center;
        padding: 10px;

    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }
}
