.logotop {
    max-height: 135px;
    padding-bottom: 1.25em;
    padding-top: 1.2em;

}

nav {
    background: #F5F5F5;

}

header {
    margin-bottom: 30px;
}

h4 {


    /* H4 Bold */

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 50px;
    text-align: center;
    color: #BD2663;

}

p {

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    /* or 107% */
    color: #191919;
    margin-top: 20px;
    margin: 20px;
    text-align: justify;
}

.input {
    border-radius: 15px;
    height: 30px;
    background-color: #EFF8FF;
    border: 1px white;

}

.button {

    background: #E3387D;
    border-radius: 71px;
    height: 50px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 50px;
    font-size: 15px;
    color: #EFF8FF;
    border: none;
    padding: 0px 20px 0px 20px
}

.tituloazul {

    color: #547EB7;
    font-stretch: extra-condensed;
    font-weight: bold;
    background-color: #F5F5F5;
}

form {

    background-color: #2B5B9C;
    padding: 20px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    /* or 107% */
    color: #FFFFFF;
}


footer {
    font-family: IBM Plex Sans;
    margin-top: 20px;
    background: #F5F5F5;
    text-align: center;
    padding: 20px;

}

.fa-facebook-square {

    color: #3B5998;
    font-size: 32px;
    margin-right: 20px;
}
